@model List<sample18082016.Controllers.TimesheetEntry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int intCount = 0;
}

@using (Html.BeginForm())
{

    <br />

    <div class="container">

        <table id="timesheettable" class="table table-bordered">
            <tr>
                <th>
                    Project Name
                </th>
                <th>
                    Activity Name
                </th>
                <th>
                    Day 1
                </th>
                <th>
                    Day 2
                </th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                intCount++;
                <tr>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem[i].ProjectName)
                        @*@Html.TextBoxFor(modelItem => item.ProjectName, new { htmlAttributes = new { name = "ProjectName" } })*@
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem[i].ActivityName)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem[i].day1)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem[i].day2)
                    </td>

                </tr>
            }

        </table>

        <input id="totalNumRows" type="text" value="@intCount" />

        <button type="button" id="addnewrow" class="btn btn-primary">Add new row</button>

        <input type="submit" value="Save" class="btn btn-default" />

    </div>
}


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#addnewrow").click(function () {
                console.log("Add the new row");
                //$("#timesheettable").hide();
                $("#timesheettable").append("<tr><td></td><td></td><td></td><td></td></tr>");
            });
        });
    </script>
}